/* Regular */
@font-face {
    font-family: 'Aino';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Regular/Aino-Regular.woff2') format('woff2'),
         url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Regular/Aino-Regular.woff') format('woff'),
         url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Regular/Aino-Regular.otf') format('opentype');
}

/* Bold */
@font-face {
    font-family: 'Aino';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Headline/Aino-Headline.woff2') format('woff2'),
         url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Headline/Aino-Headline.woff') format('woff'),
         url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Headline/Aino-Headline.otf') format('opentype');
}

/* Italic */
@font-face {
    font-family: 'Aino';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Italic/Aino-Italic.woff2') format('woff2'),
         url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Italic/Aino-Italic.woff') format('woff'),
         url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Italic/Aino-Italic.otf') format('opentype');
}

/* Bold Italic */
@font-face {
    font-family: 'Aino';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/BoldItalic/Aino-BoldItalic.woff2') format('woff2'),
         url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/BoldItalic/Aino-BoldItalic.woff') format('woff'),
         url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/BoldItalic/Aino-BoldItalic.otf') format('opentype');
}

/* Headline */
@font-face {
    font-family: 'Aino';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Headline/Aino-Headline.woff2') format('woff2'),
         url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Headline/Aino-Headline.woff') format('woff'),
         url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Headline/Aino-Headline.otf') format('opentype');
}
