/* Regular */
@font-face {
    font-family: 'Aino';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Headline/Aino-Headline.woff2') format('woff2');
}

/* Bold */
@font-face {
    font-family: 'Aino';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Headline/Aino-Headline.woff2') format('woff2');
}

/* Italic */
@font-face {
    font-family: 'Aino';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Headline/Aino-Headline.woff2') format('woff2');
}

/* Bold Italic */
@font-face {
    font-family: 'Aino';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Headline/Aino-Headline.woff2') format('woff2');
}

/* Headline */
@font-face {
    font-family: 'Aino';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('https://github.com/jasoncysiu/aino/raw/refs/heads/main/Headline/Aino-Headline.woff2') format('woff2');
}
